p {
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
}
input {
  display: block;
  margin: 0 auto;
  text-align: center;
}
table {
  float: left;
  width: 30%;
  margin: 10px;
  border: 3px solid #009fcc; /*設定表格框線*/
  border-collapse: collapse; /*使表格框(table)跟每一格(column)的框不重複*/
  background-color: #cceeff;
  color: #000088;
}

td {
  padding-left: 8px;
  padding-right: 0px;
  width: 30px;
  border: 2px solid #008866;
}

.str {
  text-align: center;
}
